<div class="panel panel-default resource-item">
  <div class="panel-heading">
    <h3 class="h4">{{ $ctrl.resourceItem.title }}</h3>
  </div>
  <div class="panel-body">
    <p ng-show="$ctrl.resourceItem.author">
      <strong>Author:</strong>
      {{ $ctrl.resourceItem.author}}
    </p>
    <p ng-show="$ctrl.resourceItem.url">
      <strong>URL:</strong>
      <a
        target="_blank"
        href="{{ $ctrl.resourceItem.url }}"
        title="Opens in new tab"
        >
       {{ $ctrl.resourceItem.url | limitTo: 40 }}{{ $ctrl.resourceItem.url.length > 40 ? '...' : ''}}
        <span class="glyphicon glyphicon-new-window"></span
      ></a>
    </p>

    <button
      type="button"
      class="btn btn-xs btn-make-editable"
      ng-class="{'btn-primary': !$ctrl.editable, 'btn-danger': $ctrl.editable}"
      ng-click="$ctrl.editable = !$ctrl.editable">
      <span class="glyphicon glyphicon-pencil"></span>
      &nbsp; 
      {{ $ctrl.editable ? 'Cancel' : 'Edit' }}
    </button>

    <resource-form
      ng-show="$ctrl.editable" category="$ctrl.category" resource="$ctrl.resourceItem"
    ></resource-form>

  </div>
</div>
