.resource-item {
  margin: 8px 0;
}
.btn-make-editable {
  width: 76px;
}
.form-in-place {
  margin-top: 20px;
}
.input-in-place {
  display: inline-block;
  width: 80%;
}
.label-in-place {
  display: block;
}